# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
dist/
build/

# Logs
*.log

# Environment variables
.env

# IDE files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db
